body{
    background-image: url("chess.jpg");
    text-align: center;
    background-color: blueviolet;
}
button{
    border-color: palevioletred;
    box-shadow: 2px 2px;
}
#guessInput{
    border-color: palevioletred;
    box-shadow: 2px 2px;
    
}
h2{
    text-shadow: 3px 3px white;
    color:black;
}